<h1>Burgers!</h1>

<img src="img/burger.png" id="bpic" alt="burger icon">

<h2>Burgers that are not devoured!</h2>

<ol id = "devouredList">
  {{#each burgers}} {{#unless devoured}}
  <li>
    {{burger_name}}
    <button class="devourBut" data-id="{{id}}" data-newdevour="{{devoured}}">
      DEVOUR
    </button>
  </li>
  {{/unless}} {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ol id = "notDevouredList">
  {{#each burgers}} {{#if devoured}}
  <li>
    {{burger_name}}
  </li>
  {{/if}} {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>